<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <!-- estilo -->
    <link href="css/style.css" rel="stylesheet">
    <title>Novo Anjo</title>
</head>
<body>
<main class="session___main">
    <div class="session___main___img">
        <img src="image/logo.jpg" id="img_circular">
    </div>
    <div class="session___main___titulo">
        <p>Bem vindo(a) ao <strong>Novo Anjo</strong></p>
    </div>
    <div><h3>Em breve um sistema que ajudara bastante pessoas.</h3></div>
    <div class="session___main___apoiadores___div">
            <h4 class="session___main___apoiadores">Apoiadores:</h4>
        <a href="https://agbsports.com.br/">
            <img src="image/agb.png" class="session___main___img____apoiarores session___main___apoiadores">
        </a>
    </div>
</main>
<footer>
<!--    <p>Versão 0.0.1</p>-->
</footer>
</body>
</html>
