<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet">
  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet">

  <title>Eventos | Novo Anjo</title>
</head>

<body>
  <!-- Menu -->
  <%- include('menu'); %>
  <!-- /Menu -->
  <main>
    <!-- Eventos -->
    <div class="container">
      <header class="headEventos">
        <h2 class="title">
          Agenda
        </h2>
      </header>
      <section class="eventos">
        <!-- Card Evento -->
        <div class="card_evento">
          <a class="" href="" >
            <img class="img-eventos" src="/img/teste.jpg" alt="">
          </a>
          <div class="desc_card">
            <a href="">
              <h3 class="title_evento">Feijoada da dona maria</h3>
            </a>
            <p>25/03/19
              <small>18h15</small>
            </p>
            <p>Espaço Eureka
              <small>Alameda XPTO , 54 - Granja, Uberlandia-MG</small>
            </p>
            <button type="button" class="btn btn-primary">Participar</button>
          </div>
        </div><!-- /Card Evento -->
      </section>
    </div><!-- Eventos -->
  </main>

  <!-- Footer -->
  <%- include('rodape'); %>
  <!-- /Footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src='/js/main.js'></script>

</body>

</html>
