<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet">
  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet">

  <title>Novo Anjo | Novo Anjo</title>
</head>

<body>
  <!-- Menu -->
  <%- include('menu'); %>
  <!-- /Menu -->

  <!-- Mensagem Nascer Anjo -->
  <div class="novoAnjo_desc">
    <h2 class="title_novoAnjo">O Nascer de um Novo Anjo</h2>
    <hr>
    <p>Seja muito bem-vindo ao Novo Anjo, um projeto solidário que visa ajudar quem realmente
      necessita de nossa ajuda.</p>
    <p>Se você busca se tornar um anjo na vida de alguém está no caminho correto , preencha o
      formulário de cadastro e torne a vida de alguém mais feliz.</p>
  </div>

  <!-- Formulario -->
  <main id="form_novoAnjo">
    <div class="container">
      <div class="page-header">
        <h3>Informações Pessoais</h3>
      </div>
      <form action="/anjo/salvar" method="POST" id="">
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inpNomeUsu">Nome</label>
            <input type="text" class="form-control" id="inpNomeUsu" name="nome" placeholder="Nome"
              maxlength="15" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inpSobrenomeUsu">Sobrenome</label>
            <input type="text" class="form-control" id="inpSobrenomeUsu" name="sobrenome"
              placeholder="Sobrenome" maxlength="15" required>
          </div>
          <label>Sexo</label>
          <div class="radio form-group col-md-4">
            <label>
              <input type="radio" name="sexo" value="F"> Feminino
            </label>
            <label>
              <input type="radio" name="sexo" value="M"> Masculino
            </label>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="inpNascimentoUsu">Nascimento</label>
            <input type="date" class="form-control" id="inpNascimentoUsu" name="nascimento"
              placeholder="DD/MM/AAAA" maxlength="8" required>
          </div>
          <div class="form-group col-md-2">
            <label for="inpTelefoneUsu">Telefone</label>
            <input type="text" class="form-control" id="inpTelefoneUsu" name="telefone"
              placeholder="(DD)00000-0000" maxlength="14" required>
          </div>
        </div>
        <div class="page-header">
          <h3>Informações para login</h3>
        </div>
        <div class="row">
          <div class="form-group col-md-4">
            <label for="inpEmailUsu">E-mail</label>
            <input type="email" class="form-control" id="inpEmailUsu" name="email"
              placeholder="exemplo@gmail.com" maxlength="70" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inpUsuUsu">Usuario</label>
            <input type="text" class="form-control" id="inpUsuUsu" name="usuario"
              placeholder="usuario" maxlength="20" required>
          </div>
          <div class="form-group col-md-4">
            <label for="inpSenhaUsu">Senha</label>
            <input type="password" class="form-control" id="inpSenhaUsu" name="senha"
              placeholder="xxxxxxxxxxx" maxlength="30" required>
          </div>
        </div>
        <div class="page-header">
          <h3>Endereço</h3>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <label for="cep">CEP</label>
                <input type="text" class="form-control" id="cep" name="cep"
                  placeholder="00000000" maxlength="8" required>
              </div>
          <div class="form-group col-md-1">
            <label for="state">Estado</label>
            <input type="text" class="form-control" id="state" name="state"
                  placeholder="xx" maxlength="2" required disabled>
          </div>
          <div class="form-group col-md-3">
            <label for="city">Cidade</label>
            <input type="text" class="form-control" id="city" name="city"
                  placeholder="xxxxxxxx" maxlength="" required disabled>
          </div>
          <div class="form-group col-md-5">
            <label for="street">Nome</label>
            <input type="text" class="form-control" id="street" name="street"
              placeholder="Endereço" maxlength="100" required disabled>
          </div>
          <div class="form-group col-md-1">
            <label for="inpNumber">Numero</label>
            <input type="text" class="form-control" id="inpNumber" name="numero"
              placeholder="0000" maxlength="4" required>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-md-2">
            <label for="inpComplementoUsu">Complemento</label>
            <input type="text" class="form-control" id="inpComplementoUsu" name="complemento"
              placeholder="Apartamento, Bloco ..." maxlength="20">
          </div>
        </div>
        <div class="row form-group col-sm-12">
          <button type="submit" class="btn btn-primary" value="enviar">Enviar</button>
        </div>
      </form>
    </div>
  </main>

  <!-- Footer -->
  <%- include('rodape'); %>
  <!-- /Footer -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src='/js/main.js'></script>

</body>

</html>
