<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet">
  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet">

  <title>Quem Apoiamos | Novo Anjo</title>
</head>

<body>
  <!-- Menu -->
  <%- include('menu'); %>
  <!-- /Menu -->

  <main>
    <!-- Capa -->
    <div class="bannerQuemApoiamos">
      <div class="bannerQuemApoiamos_texto">
        <h2 class="texto_bannerQuemApoiamos">Nosso espírito inquieto nos move a buscar a melhor
          maneira de expressar o amor ao próximo.</h2>
      </div>
    </div><!-- /Capa -->
    <!-- Apoiamos -->
    <section class="quemApoiamos">
      <div class="container">
        <h2 class="title-quemApoiamos">Apoiamos quem precisa de apoio.</h2>
        <hr>
        <p class="desc_quemApoiamos">Apoiamos quem precisa de ajuda, independente de religião, raça, gênero e opção sexual.
          Pós o amor e indiferente a todos esses detalhes, acreditamos que cada um de nos pode
          fazer a diferença na vida de alguém, seja com um ombro amigo, uma palavra carinhosa, um
          alimento, uma roupa ou ate mesmo um serviço especializado sem cobrar por ele. Temos uma
          missão a cumprir e não podemos deixar que maldade e a desigualdade do mundo reine sobre o
          menos favorecidos. Tenhamos empatia e compaixão uns com os outro e assim construiremos um
          mundo melhor juntos. </p>
      </div>
    </section><!-- /Apoiamos -->
  </main>

  <!-- Rodape -->
  <%- include('rodape'); %>
  <!-- /Rodape -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src='/js/jquery-3.3.1.min.js'></script>
  <script type="text/javascript" src='/js/main.js'></script>
</body>

</html>
