<!-- Rodape -->
<footer class="footer">
  <div class="rodape container col-md-12">
    <section>
      <div class="col-md-6 sobre_rod">
        <img src="/img/logo_b.png" alt="Novo Anjo">
        <p class="res_rod">Somos uma organização sem fins lucrativos com a missão de multiplicar a solidariedade.
          Criada em 2019, promovemos um ambiente de solidariedade que estimula o crescimento da generosidade, compaixão
          e o amor ao próximo.</p>
      </div>
      <div class="col-md-6">
        <div class="col-md-4">
          <h4>Mapa do Site</h4>
          <div class="navbar nav_footer">
            <ul>
              <li><a href="">Eventos</a></li>
              <li><a href="">Inspirações</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Recursos</h4>
          <div class="navbar nav_footer">
            <ul>
              <li><a href="">Serviços</a></li>
              <li><a href="">Livros</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-4">
          <h4>Novo Anjo</h4>
          <div class="navbar nav_footer">
            <ul>
              <li><a href="">Quem Somos</a></li>
              <li><a href="">Doe para a nossa causa</a></li>
              <li><a href="">Fale com a gente</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>
  </div>
</footer><!-- /Rodape -->
