<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="/css/bootstrap.min.css" media="screen" rel="stylesheet">
  <!-- CSS -->
  <link href="/css/main.css" rel="stylesheet">

  <title>Sobre | Novo Anjo</title>
</head>

<body>
  <!-- Menu -->
  <%- include('menu'); %>
  <!-- /Menu -->
  <!-- Capa -->
  <div class="bannerSobre">
    <div class="bannerSobre_texto">
      <h2 class="texto_bannerSobre">Somos uma organização sem fins lucrativos</h2>
    </div>
  </div><!-- /Capa -->
  <!-- Nossa Causa -->
  <section class="nossaCausa">
    <div class="container">
      <h2 class="title_nossaCausa">
        <small>Nossa Causa</small>
        Juntos multiplicamos o poder da solidariedade.
      </h2>
      <hr>
      <div class="listaPerguntas">
        <div class="col-md-6 pergunta">
          <p>
            <strong>Por que fazemos <br></strong>
            Acreditamos que a solidariedade pode mudar o mundo, por isso
            trabalhamos para que pessoas solidarias tenham condições de exercer todo o seu amor ao
            próximo.
            Nosso desafio é fazer com que o Brasil seja reconhecido não apenas pela quantidade de
            pessoas solidarias, mas pela sua qualidade e impacto.
          </p>
        </div>
        <div class="col-md-6 pergunta">
          <p>
            <strong>Como fazemos <br></strong>
            Apoiamos os encontros de pessoas dispostas a ajudar com quem necessita de ajuda
            e mobilizamos o nosso poder para pavimentar um ambiente mais favorável para todos.
          </p>
        </div>
      </div>
    </div>
  </section><!-- /Nossa Causa -->
  <!-- Nossos Valores -->
  <section class="nossosValores">
    <div class="container">
      <div class="col-md-6">
        <h2>Nossos valores</h2>
        <hr>
      </div>
      <div class="acordeaoPadrao col-md-6">
        <div class="acordeao">
          <h3>Amor ao próximo vêm em primeiro lugar</h3>
          <span></span>
          <p style="display: none;">
            O amor ao próximo e nossa razão de existir. Este sentimento e o grande responsável por
            carregar a transformação que a sociedade precisa.
            E nós somos uma plataforma para potencializar o seu crescimento e impacto.
          </p>
          <p style="display: none;">
            É por isso que tudo o que fazemos é para propagar este sentimento.
          </p>
          <p style="display: none;">
            Principios:
            <br>
            – Todas nossas iniciativas busca ajudar o próximo.
            <br>
            – Acreditamos que todos temos algo a oferecer ao próximo.
          </p>
        </div>
        <div class="acordeao">
          <h3>Acreditamos no poder da comunidade</h3>
          <span></span>
          <p style="display: none;">
            Somos multiplicadores. Cada um de nós, do lugar em que está, com os recursos que tem,
            pode contribuir para ajudar os outros a crescer, desde já. Sabemos que a oportunidade
            de devolver à sociedade tudo o que recebemos é uma responsabilidade e um privilégio,
            por isso doamos nosso tempo e nossa experiência para contribuir com o crescimento de
            cada um.
          </p>
          <p style="display: none;">
            Principios:
            <br>
            – Assumimos a responsabilidade de praticar a solidariedade.
            <br>
            – Apoiamos e incentivamos eventos solidarios nas comunidade.
            <br>
            – Compartilhamos nossas experiências, erros e acertos para encurtar o caminho de
            crescimento de outras pessoas.
          </p>
        </div>
        <div class="acordeao">
          <h3>Juntos vamos mais longe</h3>
          <span></span>
          <p style="display: none;">
            Somos uma rede de gente boa aprendendo com gente incrível a ser extraordinária. Juntos
            construímos algo da altura do que cada um de nós pode realizar, potencializado pela
            força que temos em conjunto.
            <br>
            Sabemos que ninguem cresce sozinho, por isso criamos um ambiente de
            confiança e vulnerabilidade, que acolhe a diversidade — de perfis e opiniões — mas que
            valoriza sempre o respeito e confiança mútua.
          </p>
          <p style="display: none;">
            Principios:
            <br>
            – Colocamos os objetivos coletivos acima dos individuais, pensando no todo e fazendo a
            nossa parte.
            <br>
            – Trabalhamos em rede para gerar impacto com o máximo de eficiência.
            <br>
            – Cultivamos nossas relações, criando vínculos baseados na confiança e respeito mútuos.
            <br>
            – Fomentamos conexões que transformam pessoas.
            <br>
            – Trazemos e mantemos por perto somente as pessoas que se identificam com a nossa causa
            e valores.
            <br>
            – Crescemos levando os outros a crescerem junto.
          </p>
        </div>
        <div class="acordeao">
          <h3>Nada e mais poderoso que um bom exemplo</h3>
          <span></span>
          <p style="display: none;">
            Reconhecemos que a forma como agimos hoje nos torna exemplos para as próximas gerações.
            Nossa jornada é cheia de obstáculos, mas superamos cada um deles fazendo a coisa certa
            do jeito certo, com ética e transparência.
          </p>
          <p style="display: none;">
            Acreditamos que o Exemplo é mais forte que o discurso, por isso, agimos de acordo com o
            que acreditamos.
          </p>
          <p style="display: none;">
            Principios:
            <br>
            – Inspiramos pela atitude, não pelo discurso.
            <br>
            – Crescemos com ética e transparência.
            <br>
            – Promovemos ambientes saudáveis para outras pessoas se desenvolverem.
            <br>
            – Somos responsáveis pelo que nos propomos a fazer.
          </p>
        </div>
        <div class="acordeao">
          <h3>Construímos um legado maior do que nós mesmos</h3>
          <span></span>
          <p style="display: none;">
            Cada um de nós tem potencial de impactar e transformar o mundo ao nosso redor. Nessa
            busca por gerar mais impacto, construímos nosso legado: uma realização maior do que nós
            mesmos, que se sustenta ao longo do tempo, deixa nossa marca e torna organizações,
            pessoas e processos melhores.
          </p>
          <p style="display: none;">
            Sonhamos com o futuro, planejamos o ano e executamos todos os dias. Temos o compromisso
            — e a sorte — de deixar nossa contribuição para empurrarmos o Brasil para frente.
          </p>
          <p style="display: none;">
            Principios:
            <br>
            – Trabalhamos para construir algo sustentável e replicável, que possa existir além de
            nós mesmos, sendo útil para outras pessoas em diferentes momentos.
            <br>
            – Transformamos nossas descobertas em aprendizados, registros e processos que podem ser
            compartilhados.
          </p>
        </div>
      </div>
    </div>
  </section><!-- /Nossos Valores -->

  <!-- Rodape -->
  <%- include('rodape'); %>
  <!-- /Rodape -->

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src='/js/jquery-3.3.1.min.js'></script>
  <script type="text/javascript" src='/js/main.js'></script>


</body>

</html>
